.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__content {
  flex-grow: 1;
  padding: 0 20px;
}

.layout__footer {
  padding: 20px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
}
